global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # Default ciphers to use on SSL-enabled listening sockets.
        # For more information, see ciphers(1SSL). This list is from:
        #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
        ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
        ssl-default-bind-options no-sslv3

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http


backend communication
       balance roundrobin
       server com1 127.0.0.1:8084 check

backend entityaction
       balance roundrobin
       server entity1 127.0.0.1:8083 check

backend forum
       balance roundrobin
       server forum1 127.0.0.1:8087 check

backend ratings
       balance roundrobin
       server ratings1 127.0.0.1:8085 check

backend security
       balance roundrobin
       server security1 127.0.0.1:8081 check

backend management
       balance roundrobin
       server management1 127.0.0.1:8082 check

backend ads
       balance roundrobin
       server ads1 127.0.0.1:8086 check


frontend http
     bind *:80
     mode http

     acl url_com path_beg /communication
     use_backend communication if url_com

     acl url_entity path_beg /entityAction
     use_backend entityaction if url_entity

     acl url_forum path_beg /forum
     use_backend forum if url_forum

     acl url_ratings path_beg /ratings
     use_backend ratings if url_ratings

     acl url_security path_beg /security
     use_backend security if url_security

     acl url_management path_beg /management
     use_backend management if url_management

     acl url_ads path_beg /advert
     use_backend ads if url_ads

  default_backend communication
